<article class="container">

  <div class="loading-shade" *ngIf="isLoadingResults || errorOccurred">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="unexpected-error" *ngIf="errorOccurred">An unexpected error occurred.</div>
  </div>

  <mat-table matSort matSortDisableClear [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </mat-header-cell>>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let column of sourceDatabaseTable.columns" [matColumnDef]="column.columnDef">
      <mat-header-cell *matHeaderCellDef class="search-container">
        <p class="column" mat-sort-header>{{column.header}}</p>
        <mat-form-field class="value" >
          <input matInput [ngModel]="probe[column.columnDef]" (ngModelChange)="onSearchChange(column.columnDef, $event)">
        </mat-form-field>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{column.cell(row) }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>>
  </mat-table>

  <mat-toolbar>
    <mat-toolbar-row>
      <button *ngIf="sourceDatabaseTable.actions.add" mat-raised-button color="accent" (click)="add()">Add</button>
      <button *ngIf="sourceDatabaseTable.actions.delete" mat-raised-button color="accent" (click)="deleteSelected()">Delete</button>
      <button *ngIf="sourceDatabaseTable.actions.edit" mat-raised-button color="accent" (click)="editSelected()">Edit</button>
      <span class="spacer"></span>
      <mat-paginator color="accent" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50, 100]" [pageSize]="20" showFirstLastButtons aria-label="Select page of elements"></mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>

</article>
