.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .mat-toolbar {
    margin-top: auto;
    position: sticky;
    bottom: 0;
  }
  .mat-paginator {
    background: transparent;
  }
}
