<h2 *ngIf="!data.sourceObject" mat-dialog-title>Add new {{data.table.modelEntityName}}</h2>
<h2 *ngIf="!!data.sourceObject" mat-dialog-title>Edit {{data.table.modelEntityName}}</h2>
<mat-dialog-content class="mat-typography">

  <p>Fill below</p>

  <form #form="ngForm" [formGroup]="modelEntityForm" (ngSubmit)="submit()">
    <ng-container *ngFor="let column of data.table.columns">
      <mat-form-field appearance="standard" *ngIf="!(column.id && !data.sourceObject)" [hidden]="column.id">
        <mat-label>{{column.header}}</mat-label>
        <input [formControlName]="column.columnDef" matInput placeholder="{{column.placeholder}}" [required]="column.required"/>
        <mat-hint>{{column.hint}}</mat-hint>
      </mat-form-field>
    </ng-container>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button color="accent" mat-raised-button mat-dialog-close>Cancel</button>
  <button color="accent" mat-raised-button (click)="this.form.ngSubmit.emit()">Add</button>
</mat-dialog-actions>
